{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid">
        <p>
            This is eventually going to be a storage site for Depths Character Sheets and possibly an online facilitator
            for playing the pen and paper game Depths.
        </p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>Compendium</h4>
                <ul>
                    <li><a href="">Lore</a></li>
                    <li><a href="">Stats</a></li>
                    <li><a href="">Natural Abilities</a></li>
                    <li><a href="">Supernatural Abilities</a></li>
                    <li><a href="">Items</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Character Sheets</h4>
                    </div>
                    <div class="float-right">
                        <div class="col">
                            <a class="btn btn-primary" href="{{ url_for('main.character_create_core') }}">Add</a>
                        </div>
                    </div>
                </div>
                {% if current_user.is_authenticated: %}
                    <ul>
                        {% for character in characters: %}
                            <li>
                                <a href="{{ url_for('main.character_info', char_id=character[0].id) }}">{{ character[0].name }}</a>
                                {% if character[1].name != 'No Game' %}
                                    in <a href="{{ url_for('game.game_info', game_id=character[1].id) }}">{{ character[1].name }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Please <a href="{{ url_for('authentication.do_the_login') }}">login</a> to view, create or edit character sheets.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
