{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid">
        <p>
            This is eventually going to be a storage site for Depths Character Sheets and possibly an online facilitator
            for playing the pen and paper game Depths.
        </p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>Compendium</h4>
                <ul>
                    <li><a href="">Lore</a></li>
                    <li><a href="">Stats</a></li>
                    <li><a href="">Natural Abilities</a></li>
                    <li><a href="">Supernatural Abilities</a></li>
                    <li><a href="">Items</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Character Sheets</h4>
                <ul>
                    <li><a href="{{ url_for('main.character_create') }}">Create a Character</a></li>
                    {% if current_user.is_authenticated: %}
                        <li><a href="{{ url_for('authentication.user_info', user_id=current_user.id) }}">Load a Character</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
