{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title> depths </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    </head>
{% endblock head %}

{% block body %}
<body>
    <div class="wrapper">
        {% block navbar %}
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <a class="navbar navbar-text" href="{{ url_for('main.home_page') }}">
                        <h3 class="title"> Depths Character Sheets </h3>
                    </a>

                    <ul class="nav navbar-nav pull-right">
                        <li><a href=""> Home </a></li>
                        <li><a href=""> Register </a></li>
                    </ul>
                </div>
            </nav>

        {% endblock navbar %}

        {# flash messaging #}
        {% for message in get_flashed_messages() %}
            <div class=" container alert alert-info">
                <button type="button" class="close" data-dismiss="alert"></button>
                {{ message }}
            </div>
        {% endfor %}

        {# empty block for custom content #}
        {% block content %} {% endblock content %}

        {% block footer %}
            <footer>
                <div class="container ftr">
                    <hr>
                    <p class="text-center small"> Created by Matt Cline | 2019 </p>
                </div>
            </footer>
        {% endblock footer %}
    </div>
</body>
{% endblock body %}
</html>