{% extends 'layout.html' %}

{% block content %}

    <br>
    <div class="container-fluid">
        <h3>{{ user.user_name }}</h3>
        <hr>
        <ul>
            <li>User ID: {{ user.id }}</li>
            <li>User Type: {{ user.role }}</li>
        </ul>
    </div>
    <br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4>Your Characters</h4>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{{ url_for('main.character_create') }}" role="button">New</a>
            </div>
        </div>
        <br>
        {% for character in characters: %}
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('main.character_info', char_id=character.id) }}" style="font-size: 22px">{{ character.name }}</a>
                </div>
                <div class="col">
                    <div class="btn-group">
                        <a class="btn btn-secondary" href="{{ url_for('main.character_edit', char_id=character.id) }}" role="Button">Edit</a>
                        <a class="btn btn-danger" href="{{ url_for('main.character_delete', char_id=character.id) }}" role="Button">Delete</a>
                    </div>
                </div>
            </div><br>
        {% endfor %}
    </div>
    <br><br>

    <div class="container-fluid">
        {% if current_user.role == 'SUPER' %}
            <a class="btn btn-primary" href="{{ url_for('authentication.user_change_role', user_id=user.id) }}" role="button">Change Role</a>
        {% endif %}
    </div>

{% endblock content %}