{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron p-4">
        <h2>{{ game.name }}</h2>
        <h5>Story Teller: {{ st.user_name }}</h5>
        <hr class="my-4">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <p><strong>Lore: </strong>{{ game.lore }}</p><br>
                <h4>Player Characters</h4>
                <div class="row">
                    {% for player in players %}
                    <div class="col-4 d-flex">
                        {{ character_card(player[1], player[0]) }}
                    </div>
                    {% endfor %}
                </div>
                {% if current_user.id == game.st_id %}
                    <div class="row">
                        <div class="col">
                            <h4>Non-Player Characters</h4>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary btn-sm" href="{{ url_for('main.character_create_core') }}">Add</a>
                        </div>
                    </div>

                    <div class="row">
                        {% for npc in npcs %}
                        <div class="col-4 d-flex">
                            {{ character_card(npc, st) }}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-3">
                <h5>This will be a Chat-box one day</h5>
            </div>
        </div>
    </div>
{% endblock content %}