{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron">
        <h3>{{ game.name }}</h3>
        <h6>Story Teller: {{ st.name }}</h6>
        <hr class="my-4">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p><strong>Lore:</strong> {{ game.lore }}</p>
                <ul>
                    {% for character in characters: %}
                    <li>{{ character.name }} </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>This will be a Chat-box one day</h5>
            </div>
        </div>
    </div>
{% endblock content %}